body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}
.footer {
    background-color: #333; 
    color: #333; 
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    flex: 1; 
    display: flex;
    align-items: flex-end;
}

.contact-info {
    flex: 2; 
}

.social-links {
    flex: 1; 
    text-align: right; 
}

.social-links a {
    text-decoration: none;
    color: #fff; 
    margin-left: 10px; 
}

.copyright {
    flex-basis: 100%; 
    text-align: center; 
    margin-top: 10px; 
}
