* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    display: flex;
    background-color: #232127;
}

.footer-links {
    text-decoration: none;
}